.modal-first {
  inset: 0;
  background-color: rgba($color: #000000, $alpha: 0.5);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  .modal-content {
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    .close-modal {
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      border: 1px solid black;
      border-radius: 3px;
      max-width: 30px;
    }
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 10px;
  flex-direction: column;
}

button {
  outline: none;
  border: none;
  border-radius: 5px;
}
